.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2%;
    padding: 0.5%;
    border: 2px solid #155EEF;
    border-radius: 8px;
    
}

.logo1 {
    width:62%;
    margin-left: 1%;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 35%;
    align-items: center;
    margin-right: 2%;
}

.menu > a {
    font-family: 'Halant', serif;
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.menu > a > button {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 85px;
    height: 40px;
    border: 1.5px solid #155EEF;
    border-radius: 8px ;
    background-color: white;
    color: #155EEF;
    font-weight: 700;

}

.sec1 {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    padding: 4% 2%;
    border: 2px solid #155EEF;
    border-radius: 8px;
    align-items: center;
    gap: 5%;
    background-color: #F9FBFF;
}

#welcometext  {
    font-family: 'Halant', serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.welcome {
    width: 55%;
}
.welcome > h1 {
    font-family: 'Halant', serif;
    font-size: 56px;
    font-weight: 600;
    color: #155EEF;
    margin: 0;
}

#jobdesc {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

}

.welcome > a > button {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    border-radius: 8px ;
    background-color: #155EEF;
    color: white;
    font-weight: 700;
}

.img1 {
    width: 40%;
}

.img1>img {
    width: 100%;
}

.sec2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    gap: 8%;
    border: 2px solid #155EEF;
    border-radius: 8px;
    padding: 4% 2%;
}

.img2 {
    width: 40%;
    border: 5px ;
    border-style:outset none outset outset;
    border-color: #155EEF;
    border-
}

.img2 > img {
    width: 100%;
    height:100%;
}

.aboutme {
    width: 55%;

}

.aboutme >h2 {
    font-family: 'Halant', serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;

}

.aboutme >p {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}


.footer {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    border: 2px solid #155EEF;
    border-radius: 8px;
    padding: 0.5%;
    align-items: center;
    padding-right: 2%;
    flex-wrap: wrap;
}

.sociallinks {
    justify-content: space-between;
    width:10%;
    display: flex;
    margin: 0;
}

.copyright {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500px;
    margin-right:0.5% 
    
}

.copyright >p {
    margin: 0 0;
}

.sec1,.sec2 {
    margin-bottom: 5%;
}

.logo2 {
    margin-left: 1%;
}
/* font-family: 'Halant', serif;
font-family: 'Manrope', sans-serif; */