/* Header Section */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2%;
    padding: 0.5%;
    border: 2px solid #155EEF;
    border-radius: 8px;
    background: white; 
}

.logo_header {
    width:62%;
    margin-left: 1%;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 35%;
    align-items: center;
    margin-right: 2%;
}

.nav > a {
    font-family: 'Halant', serif;
    font-size: 24px;
    color: black;
    text-decoration: none;
}

#hamburg {
    display: none;
}

.nav2,.nav2.visible{
    display: none;
}

.nav > a > button {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 85px;
    height: 40px;
    border: 1.5px solid #155EEF;
    border-radius: 8px ;
    background-color: white;
    color: #155EEF;
    font-weight: 700;
}


/* Welcome Section */

.welcome_section {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    padding: 4% 2%;
    border: 2px solid #155EEF;
    border-radius: 8px;
    align-items: center;
    gap: 5%;
    background-color: #F9FBFF;
}

#welcome  {
    font-family: 'Halant', serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.welcome_text {
    width: 55%;
}
.welcome_text > h1 {
    font-family: 'Halant', serif;
    font-size: 56px;
    font-weight: 600;
    color: #155EEF;
    margin: 0;
}

#job_description {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.welcome_text > a > button {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    border-radius: 8px ;
    background-color: #155EEF;
    color: white;
    font-weight: 700;
}

.welcome_img {
    width: 40%;
}

.welcome_img > img {
    width: 100%;
}


/* About Me Section */

.aboutme_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    gap: 8%;
    border: 2px solid #155EEF;
    border-radius: 8px;
    padding: 4% 2%;
}

.aboutme_img {
    width: 40%;
    border: 5px ;
    border-style:outset none outset outset;
    border-color: #155EEF;
}

.aboutme_img > img {
    width: 100%;
    height:100%;
}

.aboutme_text {
    width: 55%;
}

.aboutme_text >h2 {
    font-family: 'Halant', serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

.aboutme_text >p {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}


/* Projects Section */

.projects_text{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 24px;
    background-color: #F9FBFF;
    padding: 2% 2%;
    width: 50%;
    position:relative;
    z-index: 2; 
    margin-bottom: 8%;
}

.projects_text h2 {
    font-family: 'Halant', serif;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}

.projects_section {
    margin: 2%;
    border: 2px solid #155EEF;
    border-radius: 8px;
    padding:2% 2%;
    position:relative;
    display: flex;
}

.welcome_section,.aboutme_section,.projects_section {
    margin-bottom: 5%;
}

.projects_img{
    width: 50%;
    z-index:1;
    padding-top: 5%;
    position:absolute;
    z-index: 1;
    right: 2%;
    top:13%;
}

.projects_text p {
    margin: 0 0;
}

#thankyou {
    padding-top: 3%;
}

.projects_img > img {
    width: 100%;
    height:100%;
}

/* Footer Section */

footer {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    border: 2px solid #155EEF;
    border-radius: 8px;
    padding: 0.5%;
    align-items: center;
    padding-right: 2%;
    flex-wrap: wrap;
}

.sociallinks {
    justify-content: space-between;
    width:10%;
    display: flex;
    margin: 0;
}

.copyright {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500px;
    margin-right:0.5% 
}

.copyright >p {
    margin: 0 0;
}

.logo2 {
    margin-left: 1%;
}

/* font-family: 'Halant', serif;
font-family: 'Manrope', sans-serif; */


/* Mobile Phone Screen */

@media screen and (max-width:750px) {
   

    /* M Header Section */

    .nav > a {
        display: none;
    }

    #hamburg{
        display: inline;
    }

    #hamburg img{
        width: 80%;
    }

    .nav{
        justify-content: end;
    }


    /* Hamburger Menu */

    .nav2{
        display: none;
    }

    .nav2.visible{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #F9FBFF;
        top: 0;
        left: 0;
        z-index: 1;
        padding-top: 15%;
        text-align:center;        
    }

    .nav2.visible hr{
        width: 60%;
        height: 1px;
        background:#030E27;
    }

    .nav2.visible p{
        margin-bottom: 3%;
        margin-top: 10%;
        font-family: 'Halant', serif;
        font-size: 20px;
    }

    header{
        position: relative;
        z-index: 2;
      
    }


    /* M Welcome Section */

    .logo_header {
        width:50%;
        margin-left: 1%;
    }

    .logo_header img{
        width: 100%;
    }
    
    .welcome_section{
        display: flex;
        flex-direction: column;
        padding: 4% 3%;
    }
    .welcome_text{
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
        padding-top: 5%;
    }

    .welcome_text > a > button {
    width: 100%;
    }

    #welcome  {
        font-size: 16px;
        line-height: 24pxpx;
    }
    
    
    .welcome_text > h1 {
        font-size: 32px;  
        line-height: 38.4px;     
    }
    
    #job_description {
        font-size: 16px;
        line-height: 24px;
    }

    .welcome_img{
        width: 100%;
    }


    /* M About Me Section */

    .aboutme_section {
        flex-direction: column-reverse;
        padding: 4% 3%;
    }
    
    .aboutme_img {
        width: 100%;
    }
    
    .aboutme_text {
        width: 100%;
    }
    
    .aboutme_text >h2 {
        font-size: 24px;
        line-height: 28.8px;
        text-align: center;
    
    }
    
    .aboutme_text >p {
        font-size: 16px;
        line-height: 24px;
        text-align:justify
    }
   
    

    /* M Projects Section */

    .projects_text{
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
        padding: 2%;
        width: 100%;
        position:relative;
        z-index: 2; 
        margin-bottom: 2%;


    }

    .projects_text h2 {
        font-family: 'Halant', serif;
        font-size: 24px;
        font-weight: 600;
        margin: 5%;
        text-align: center;
    }

    .projects_section {
        border: 2px solid #155EEF;
        border-radius: 8px;
        position:relative;
        display: flex;
        background-color: #F9FBFF;
    }

    .projects_img{
       display: none;
    }

    /* M Footer Section */

    footer {
        display: flex;
        justify-content: space-between;
        margin: 2%;
        border: 2px solid #155EEF;
        border-radius: 8px;
        padding: 2% 0.5%;
        align-items: center;
        padding-right: 2%;
        flex-wrap: wrap;
    }
    
    .sociallinks {
        justify-content: space-between;
        width:30%;
        padding-right: 3%;
    }
    
    .copyright {
        font-size: 15.96px;
        line-height: 23.94px;
        text-align: center;
        width: 100%; 
        padding-top: 2%;
    }
        
        .logo2 img{
            margin-left: 1%;
            width: 100%;
        }

        .logo2{
            width:50%;
        }

        .sociallinks img{
            width: 70%;
        }
    
    
}

/* Tablet Screen */

@media screen and (min-width:750px) and (max-width:1400px) {

    .projects_text{
        
        margin-bottom: 1%;
        
    }
    .projects_img{
       
        right: 2%;
        top:20%;
    }
    
}